
                @media screen and (min-width: 481px) {
                  * {
                    width: max-content;
                    height: max-content;
                  }
                }
                @media screen and (min-width: 769px) {
                  * {
                    width: max-content;
                    height: max-content;
                  }
                }
                @media screen and (min-width: 1025px) {
                  * {
                    width: max-content;
                    height: max-content;
                  }
                }
                